/* Header is wrapped in flex-box and 'View Highscores' and 'Timer' has space between them */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}

/* Centers content and limits the width to 70% */
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: 2rem auto;
}

/* Make buttons purple and have white text */
/* Link buttons are adjusted to look like other buttons */
button, button a {
    color: white;
    background-color: purple;
    text-decoration: none;
    font-size: 1.5rem;
}

/* "Go Back" button and "View Highscores" label do not show the underline */
button a, label a {
    text-decoration: none;
}

/* When hovering over buttons, they are displayed more transparent */
button:hover {
    opacity: 0.6;
}

/* "Coding Quiz Challenge" */
h1 {
    font-size: 3rem;
}

/* Questions */
h2 {
    font-size: 2.5rem;
}

/* Description of Coding Quiz Challenge */
p {
    font-size: 2rem;
}

/* Question page are left-aligned */
article {
    text-align: left;
}

/* Answer choices are stacked on top of each other */
.answer-choice {
    display: flex;
    margin-bottom: 0.5rem;
    /* flex-direction: column; */
}

.show {
    display: visible;
}

.hidden {
    display: none;
}