/* All content are under this font */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header is wrapped in flex-box and 'View Highscores' and 'Timer' has space between them */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Centers content and limits the width to 70% */
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: 2rem auto;
}

/* Question-page and result-page are left-aligned */
article {
    text-align: left;
}

li {
    background-color: rgb(239, 222, 252);
}

li:nth-child(odd) {
    background-color: rgb(223, 181, 252);
}

/* "Coding Quiz Challenge" */
h1 {
    font-size: 3rem;
}

/* Questions */
h2 {
    font-size: 2.5rem;
}

/* Instructions, 'View Highscores, Time, Enter initials, and input */
p, label, input {
    font-size: 1.5rem;
}

/* Make buttons purple and have white text */
/* Link buttons are adjusted to look like other buttons */
button, button a {
    color: white;
    background-color: purple;
    font-size: 1.5rem;
    border-radius: 4px;
}

/* "Go Back" button and "View Highscores" label do not show the underline */
button a, label a {
    text-decoration: none;
}

/* When hovering over buttons, they are displayed more transparent */
button:hover {
    opacity: 0.6;
}

/* Answer choices are stacked on top of each other */
.answer-choice {
    display: flex;
    margin-bottom: 0.5rem;
}

/* Feedback to answer shows up faintly  */
.feedback {
    opacity: 0.5;
    font-style: italic;
    border-top: 2px solid;
    padding-top: 0.5rem;
}

.hidden {
    display: none;
}